.dashboard__listed-vans_vanscards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.dashboard__listed-vans_vanscard {
  background-color: #fff;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vanscard__van-detail {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.vanscard__van-detail img {
  width: 120px;
  border-radius: 5px;
}

.vanscard__van-detail h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--black-color);
}
.vanscard__van-detail p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3rem;
  color: #4d4d4d;
}
.dashboard__listed-vans_vanscard .edited {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3rem;
  color: var(--black-color);
}

@media screen and (max-width: 750px) {
  .vanscard__van-detail h3 {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  .vanscard__van-detail p {
    font-size: 1.2rem;
    line-height: 3rem;
  }
  .dashboard__listed-vans_vanscard .edited {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 470px) {
  .dashboard__listed-vans_vanscard {
    display: flex;
    padding: 1rem 0.5rem;
  }
}
